$primary-color: #e98483;
$secondary-color: #efd98a;
$third-color:#95e1d3;
$primary-font: 'Montserrat', sans-serif;
 $Secondary-font : 'Roboto', sans-serif;
$third-font:'Kaushan Script', cursive;
//-----------------------------------Total--------------------------
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body,ul,a{

    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-size: 1.6rem;

    text-decoration: none;
    list-style: none;
    color: black;
}
.wrapper{
    max-width: 1920px;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
//----------------------------------Header--------------------------------
.header{
    color: white;
    width: 100%;
    min-height: 1000px;
    background: linear-gradient(
     to bottom,
     rgba($primary-color,0.9),
     rgba($secondary-color,0.9)
     ),
    url(./images/img-header-bg.jpg) center/cover;
    &-top{
        padding-top: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &-logo{
        color: white;
        font-family: $Secondary-font;
        font-size: 3rem;
        font-weight: bold;
    }
    &-toggle{
        display: none;
    }
    &-menu{
        display: flex;
    }
    
    &-menu-link{
        color: white;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 14px;
        padding-bottom: 1rem;
        border-bottom: 4px solid transparent;
        transition: all 0.2s ease;
        &:hover{
            border-bottom: 4px solid $secondary-color;
        }
    }
    &-menu-icon{
        color: white;
        cursor: pointer;
        padding-bottom: 1rem;
        border-bottom: 4px solid transparent;
        transition: all 0.2s ease;
        &:hover{
            border-bottom: 4px solid $secondary-color;
        }
    }
    &-content{
        
        padding-top: 17rem;
        max-width: 90rem;
        text-align: center;
        margin: 0 auto;
        &-caption{
            margin-top: 0;
            margin-bottom: 4rem;
            font-family: $third-font;
            font-size: 7.2rem;
            font-weight: 100;
        }
        &-main{
            
            text-transform: uppercase;
            margin: 0;
            
            padding-bottom: 6rem;
            font-size: 15rem;
            font-weight: bold;
            position: relative;
            &::after{
                content: " ";
                position: absolute;
                width: 6rem;
                height: 3px;
                left: 50%;
                bottom: 0;
                margin-top: 6rem;
                transform: translateX(-50%);
                background-color: white;
                
            }
        }
        &-more{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4rem;
            display: inline-block;
            margin-top: 5rem;
            padding: 12px 30px;
            border: 1px solid white;
        }
    }
    &-bottom{
        display: flex;
        margin-top: 15rem;
        &-menu{
            cursor: pointer;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 3rem 0;
            border-top: 4px solid transparent;
            width: calc((100% /4) - 3rem);
            border-top: 4px solid white;
            margin-left: 3rem;
            position: relative;
            opacity: 0.3;
            transition: all 0.2s ease;
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                width: 7rem;
                transform: translate(0,-100%);
                background-color: $primary-color;
                opacity: 0;
            }
            &:hover{
                opacity: 1;
                &::after{
                    opacity: 1;
                }
            }
        }
        
        &-number{
            font-weight: bold;
            font-size: 2.3rem;
        }
    }
    
}
// -------------------About---------------------
.about{
    position: relative;
    padding-top: 9rem;
    color: black;
    max-height: 75rem;
    text-align: center;
    margin: 0 auto;
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
    &-content-desc{
        font-family: $Secondary-font;
        font-size: 1.5rem;
        color: #999999;
        line-height: 30px;
        margin-top: 4.7rem;
    }
    &-list{
        margin: 10rem 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3rem ;
    }
    &-item{
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #95e1d3;
            z-index:-1;
            opacity: 0;
        }
        &:hover{
            transform: translate(-1rem,-1rem);
            opacity:1;
            &::after{
                opacity: 1;
                transform: translate(1rem,1rem);
            }
            .about-desc{
                opacity: 1;
                // visibility: visible;
                
            }
        }
        
    }
    &-desc{
        transition:all 0.3s ease;
        opacity: 0;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: linear-gradient(
            to bottom,
            rgba($primary-color,0.9),
            rgba($secondary-color,0.9),
        );
        color: white;
        // &:hover{
        //     opacity: 1;
        // }
        
    }
    &-icon{
        font-size: 3rem;
    }
    &-text{
        font-size: 2rem;
    }

}
// ------------------------Counting---------------------
.counting{
    margin-bottom: 11rem;
    color: white;
    background-color: #95e1d3;
    &-list{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        height: 27rem;
        
    }
    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    &-item:not(:last-child){
        border-right: 1px solid #b5eae0;
    }
    &-number{
        font-size: 7.2rem;
        font-weight: bold;
    }
    &-text{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 4rem;
    }
}
//------------------service-----------------    
.service{
    text-align: center;
    margin: 0 auto;
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        padding-bottom: 4rem;
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 6rem;
            height: 3px;
            transform: translateX(-50%);
            background-color: $primary-color;
        }
    }

    .service-contact{
        padding-top: 6rem;
    }
    .service-top{
        display: flex;
        margin-bottom: 3rem;
        padding-bottom: 5rem;
        border-bottom: 2px solid #e5e5e5;
        justify-content:space-between;
    }
    .service-bottom{
        display: flex;
        margin-top: 5rem;
        justify-content:space-between;
    }
    .service-item{
        display: flex;  
        width: 33.33%;
    }
    .service-item:not(:first-child){
        margin-left: 6rem;
    }
    .service-icon{
        color: $third-color;
        background-color: white;
        font-size: 3rem;
    }
    .service-text{
        margin-left: 2rem;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap     ;
        text-align: left;
        &-name{
            font-size: 1.4rem;
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        &-desc{
            color: #999999;
        }
    }
}
//-----------unique---------------
.unique{
    position: relative;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 100%;
    min-height: 85rem;
        background: linear-gradient(to bottom,
         rgba(white,0.8),
          rgba(white,0.8)), 
          url(./images/img-device-bg.png) center/cover;
    &-content{
        padding-top:10rem;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        &-caption{
            font-family: $third-font;
            font-weight: 100;
            font-size: 24px;
        }
    }
    &-content-main{
        padding-bottom: 4rem;
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 6rem;
            height: 3px;
            transform: translateX(-50%);
            background-color: $primary-color;
        }
    }
    &-logo-desc {
        position: absolute;
        top: 31.5%;
        left: 50%;
        transform: translateX(-38%);
    }
}
//----------wedo--------------
.wedo{
    margin-bottom: 10rem;
    &-content{
        padding-top:6rem;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        &-caption{
            font-family: $third-font;
            font-weight: 100;
            font-size: 24px;
        }
    }
    &-content-main{
        padding-bottom: 4rem;
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 6rem;
            height: 3px;
            transform: translateX(-50%);
            background-color: $primary-color;
        }
    }
    &-content-desc{
        font-family: $Secondary-font;
        font-size: 1.5rem;
        color: #999999;
        line-height: 30px;
    }
    &-image ,
    &-box-content{
        width: calc((100% /2) - 1.5rem);
        object-fit: cover;
    }
    &-box{
        padding: 2rem;
        display: flex;
        &-content{
            margin-left: 3rem;
        }
    }
    &-item:not(:last-child){
        margin-bottom: 1rem;
    }
    &-item.is-active .wedo-item-content{
        display: block;
    }
    &-item{
       
        &-header{
            border: 1px solid #999999;
            padding: 1.5rem;
            display: flex;
            align-items: center;
        }
        &-icon{
            margin-right: 1.5rem;
        }
        &-title{
            flex-direction: ce;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
        }
        &-arrow{
            margin-left: auto;
        }
        &-content
        {
            display: none;
            border-left: 1px solid #999999;
            border-right: 1px solid #999999;
            border-bottom: 1px solid #999999;
            padding: 2rem;
            margin-bottom: 1rem;
            font-style: italic;
            color: #999999;
            line-height: 2rem;
            font-weight: 300;
            
        }
        &-text{
            height: 13.7rem;
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 2rem;
            &::-webkit-scrollbar {
                width: 5px;
              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background-color: #9999; 
                border-radius: 3px;
              }
               
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $third-color; 
                border-radius: 4px;
              }
              
              /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #b30000; 
              }
        }
    }


}
//-----------quote-------------
.quote{
    
    margin-bottom: 10rem;
    height: 28rem;
    background-color: #f7f5f5;
    &-image{
        padding: 2rem;
        margin-left: 7rem;
        border: 2px solid $third-color;
    }
    &-item-right-arrow{
        display: none;
        color: #999999;
        // display: flex;
        font-size: 2rem;
        align-items: center;
        margin-left: 7rem;
        // margin-right: 4rem;
 
    }
    &-item-left-arrow{
        display: none;
        color: #999999;
        // display: flex;
        font-size: 2rem;
        align-items: center;
        margin-left: 4rem;
 
    }
    &-box{
        display: flex;
        padding-top: 7.8rem;
        align-items: stretch;
    }
    &-content{
        width: 77.3rem;
        margin-left: 6rem;
        &-text{
            color: #9999;
        }
        &-author{
            padding-left: 7rem;
            font-size: 2.4rem;
            font-family: $third-font;
            position: relative;
            padding-top: 2rem;
            display: block;
            &::before{
                content: " ";
                position: absolute;
                height: 0.3rem;
                width: 6rem;
                left: 0;
                top: 57%;
                transform: translateY(100%);
                background-color: #b30000;
                margin-right: 3rem;
            }
        }
    }
    .slick-initialized .slick-slide {
        display: flex;
        outline: none;
        padding: 7.8rem;
    }
    .slick-slider {
        position: relative;
        display: block;
        height: 280px;
    }
    .slick-arrow{
        border: none;
        background-color: transparent;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .slick-list {
        height: 200px;
    }
    .slick-prev{
        left: 0;
       
    }
    .slick-next{
        right: 0;
    }
}
//-------------meetout--------------------
.meetout{
    margin-bottom: 12rem;
    position: relative;
    text-align: center;
    // margin: 0 auto;
    // align-items: center;
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
    &-content-desc{
        font-family: $Secondary-font;
        font-size: 1.5rem;
        color: #999999;
        line-height: 30px;
        margin-top: 4.7rem;
    }
    &-list{
        margin-top: 9rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:3rem;
    }
    &-box{
        transition: all 0.3s ease;
       position: relative;
       &::before{
           content: "";
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: #95e1d3;
           opacity: 0;
           z-index: -1;
       }
       &:hover{
        
           transform: translate(-1rem,-1rem);
           
           &::before{
               opacity: 1;
               transform: translate(1rem,1rem);
           }
           .meetout-item-desc{
            
               opacity: 1;
               
           }
       }
       
    }
    &-item-desc{
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        color: $primary-color;
        background: linear-gradient(
            to bottom,
            rgba($primary-color,0.7),
            rgba($secondary-color,0.7),
        );
    }
    &-item-icon{
        cursor: pointer;
        font-size: 3rem;
        padding: 2rem;
        background-color: $secondary-color;
        transition: all 0.2s ease;
        &:hover{
            color: white;
            background-color: $primary-color;
        }
    }
    .meetout-item-desc a{
        color: $primary-color;
    }
    &-item-icon:not(:last-child){
        border-right: 1px solid $primary-color;
    }
    &-authour{
        margin-top: 3rem;
        &-name{
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        &-job{
            margin-top: 1rem;
            display: block;
            font-style: italic;
            color: #999999;
        }
    }
    &-brand{
        margin-top: 12rem;
        background-color: #f7f5f5;
        height: 25rem;
    }
    &-logos{
        margin-top: 6rem;
    }
}
.work{
    text-align: center;
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
    &-content-desc{
        font-family: $Secondary-font;
        font-size: 1.5rem;
        color: #999999;
        line-height: 30px;
        margin-top: 4.7rem;
    }
    &-feature{
        // width: 1920px;
        height: auto;
        margin-top: 10rem;
        display: flex;
        align-items: stretch;
        
    }
    &-column{
        width: 25%;
    }
    &-list{
        position: relative;
        display: flex;
    }
    &-desc{
        cursor: pointer;
        transition: all 0.3s ease; 
        opacity: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba($primary-color,0.9),
            rgba($secondary-color,0.9)
        );
        &-caption{
            margin-top: 2rem;
            font-size: 15px;
            text-transform: uppercase;
        }
        &-icon{
            font-size: 3rem;
        }
        &-main{
            margin-top: 1rem;
            // font-family: $third-font;
            color: #fdefe0;
            font-style: italic;
        }
        &:hover{
            opacity: 1;
        }
    }
}
.quote-avatar{
    // margin-bottom: 10rem;
    // background-color: #f7f5f5;
    &-image{
        padding: 2rem;
        margin-left: 4rem;
        
    }
    &-item-right-arrow{
        color: #999999;
        display: none;
        font-size: 2rem;
        align-items: center;
        margin-left: 7rem;
        // margin-right: 4rem;
 
    }
    &-item-left-arrow{
        color: #999999;
        display: none;
        font-size: 2rem;
        align-items: center;
        margin-left: 4rem;
 
    }
    &-box{
        display: flex;
        padding-top: 7.8rem;
        align-items: center;
    }
    &-content{
        width: 77.3rem;
        margin-left: 6rem;
        &-text{
            color: #9999;
        }
        &-author{
            padding-left: 7rem;
            font-size: 2.4rem;
            font-family: $third-font;
            position: relative;
            padding-top: 2rem;
            display:flex;
            &::before{
                content: " ";
                position: absolute;
                height: 0.3rem;
                width: 6rem;
                left: 0;
                top: 57%;
                transform: translateY(100%);
                background-color: #b30000;
                margin-right: 3rem;
            }
        }
    }
    // .slick-initialized .slick-slide {
    //     display: flex;
    // }
    // .slick-list {
    //     height: 400px;
    // }
    .slick-initialized .slick-slide {
        display: flex;
        outline: none;
    }
    .slick-slider {
        position: relative;
        display: block;
        height: 400px;
    }
    .slick-arrow{
        border: none;
        background-color: transparent;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .slick-list {
        height: 400px;
    }
    .slick-prev{
        text-align: center;
        left: 0;
       
    }
    .slick-next{
        right: 0;
    }
}
//---------------------------People---------------------
.people{
    width: 100%;
    min-height: 83rem;
    background: linear-gradient(
        to bottom,
        rgba(#f2f2f2,0.9),
        rgba(#f2f2f2,0.9)
    ),url(./images/img-people-bg.png),center/cover;
    &-top{
        
        padding-top: 3rem;
    }
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
    &-bottom{
        margin-top: 9rem;
        flex-wrap: wrap;
        display: flex;
        // text-align: left;
    }
    &-list{
        width: calc(50% - 8rem - 4rem);
        display: flex;
        margin-bottom: 7rem;
        margin-right: 8rem;
        margin-left: 4rem;
    }
    &-contact{
        margin-left: 27px;
        text-align: left;
    }
    &-avatar{
        height: 11.1rem;
        width: 11.1rem;
    }
    &-name{
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        
    }
    &-job{
        
        color:#555555;
        position: relative;
        font-style: italic;
        margin-top: 1rem;
        display: block;
        margin-bottom: 2.5rem;
        padding-bottom: 1.5rem;
        &::after{
            content: " ";
            // margin-bottom: 2.5rem;
            position: absolute;
            height:3px;
            width: 6rem;
            background-color: $primary-color;
            bottom:0;
            left:0;

        }
    }
    &-text{
        color: #999999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
//-------------------------Blog--------------------------
.blog{
    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
    &-list{
        display: flex;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &-item{
        cursor: pointer;
        transition: all 0.2s linear;
        width: calc(33.33% + 3rem);
        position: relative;
    }

    &-item:not(:last-child){
        margin-right: 3rem;
    }
    &-top{
        position: absolute;
        bottom: 196px;
        left: -1rem;
        padding: 1rem;
        background-color: $third-color;
        color: white;

    }
    &-day{
        font-size:30px;
        font-weight: 600;
    }
    &-month{
        display: block;
    }
    &-content{
        padding-top: 2rem;
        text-align: left;
        padding-bottom: 2rem ;
        border-bottom: 1px solid #999999 ;
    }
    &-desc{
        font-weight: 600;
        text-transform: uppercase;
    }
    &-text{
        padding-top: 2rem;
        line-height: 1.6;
        display: block;
        color: #999999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-bottom{
        padding: 10px;
        margin-top: 2rem;
        text-align: left;
       
    }
    &-eye-num{
        
        margin-right: 2rem;
    }
    &-eye-num,
    &-mess-num{
        color: #999999;
        font-style: italic;
    }
    &-icon{
        font-size: 2rem;
        color: $third-color;
        margin-right: 1rem;
    }
}
.map{
    padding: 5.5rem 0;
    margin-top:11rem;
    width: 100%;
    height:auto;
    background: linear-gradient(
        to bottom,
        rgba(242, 242, 242, 0.9),
        rgba(242, 242, 242, 0.9)
    ),
    url(./images/img-map.png);

    &-content-caption{
        font-family: $third-font;
        font-weight: 100;
        font-size: 24px;
        
    }
    &-content-main{
        color: $primary-color;
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        
        padding-bottom: 4rem;
        &::after{     
            content: " ";
            position: absolute;
            width: 6rem;
            height: 3px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $primary-color;
            
        }
        
    }
}
.footer{
    padding-bottom: 7rem;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 7.5rem;
    display: flex;
    &-contact{
        width: calc(483px + 3rem);
        margin-right: 3rem;
        text-align: left;
    }
    &-logo{
        font-size: 4.6rem;
        font-weight: bold;
        color: #cccc;
        margin: 0;
    }
    &-content{
        color: #999999;
        margin-top: 44px;
        margin-bottom: 5rem;
    }
    &-view{
        padding-bottom: 2rem;
        border-bottom: 1px solid #999999;
    }
    &-num{
        font-size: 20px;
        font-weight: bold;
    }
    &-us{
        margin-top: 15px;
        &-text{
            color: #999999;
            font-style: italic  ;
        }
    }
    &-icon{
        cursor: pointer;
        color:$third-color;
        &:hover{
            color: #FFD154;
        }
    }
    &-icon:not(:last-child){
        margin-right: 0.5rem;
    }
    &-email{
        position: relative;
        margin-top: 4rem;
    }
    &-input{
        width: 379px;
        height: 40px;
        font-style: italic;
    }
    &-label{
        transition: all 0.3s linear;
        cursor: pointer;
        position: absolute;
        top:0;
        left: 210px;
        font-size: 14px;
        line-height: 0.7;
        font-weight: bold;
        text-transform: uppercase;
        padding:15px 30px;
        background-color: #95e1d3;
        color: white;
        &:hover{
            background-color: #FFD154;
            color:#002795;
        }
    }
    &-blog{
        width: 381px;
        &-list{
            display: flex;
            margin-bottom:3rem;
        }
        &-content{
            margin-left: 3rem;
            text-align: left;
        }
        &-text{
            font-weight: bold;
            text-transform: uppercase;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-date{
            display: block;
            margin-top: 1rem;
            color: #999999;
            font-style: italic;
        }
    }
    &-ins{
        text-align: left;
        margin-left: 7rem;
        width: calc(271px + 7rem);
        &-list{
            display: flex;
            flex-wrap: wrap;
        }
        &-more{
            margin-top: 2rem;
            color: #999999;
            font-style:italic;
        }
    }
    .img-ins:not(:last-child){
        margin-right: 2px;
        margin-bottom: 2px;
    }
    &-end{
        padding: 23px 0;
        &-text{
            font-weight: bold;
        }
        &-red{
            font-weight: bold;
            color: $primary-color;
        }
    }
}

// -------------------------------Responsive-----------------------------
@media  screen and (min-width:1920px) {
    .work-column {
        width: 25%;
    }
    // .work-feature {
    //     flex-wrap: wrap;
    // }
    .work-img{
        width: 496px;
    }
}

// @media  screen and (min-width:1279px) {
//      .work-column {
//         width: 50%;
//     }
//      .work-feature {
//          flex-wrap: wrap;
//      }
//     .work-img{
//         width: 100%;
//     }
// }
@media screen and (max-width:1023px) {
    .header-menu-item {
        margin-left: 5rem;
    }
    .header-content-caption {
        // margin-top: -130px;
        margin-bottom: 2rem;
        font-size: 5.2rem;
    }
    .header-content-main {
        padding-bottom: 3rem;
        font-size: 9rem;
    }
    .header-bottom {

        margin-top: 6rem;
    }
    .header-bottom-menu {

        font-size: 1.5rem;
    }
    .about-list {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .counting-number {
        font-size: 5.2rem;
    }
    .counting-text {
        font-size: 1.2rem;
    }
    .quote-item-left-arrow {
        margin-left: 0; 
    }
    .quote-content-text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quote-box {
        width: 650px;
    }
    .slick-slide img {
        display: block; 
        margin: 3rem auto;
    }
    .quote-item .container  .slick-slide {
        width: 650px;
    }
    
    .meetout-list {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .meetout-brand {
        /* margin-top: 1rem; */
        background-color: #f7f5f5;
        height: 20rem;
    }
    .meetout-logos{
        width: 747px;
        height: 80.458px;
        margin-top: 6rem;
    }
    .work-content-desc {
        font-size: 2.5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .work-img{
        width: 100%;
        // width: 384px;
        height: 390px;
        // height: 100%;
    }
    .work-img-5{

        height:78rem;
    }
    .work-column {
        width: 50%;
    }
    .work-feature {
        flex-wrap: wrap;
    }
    // {
    // padding-left: 2rem;
    // padding-right: 2rem;}
    .quote-avatar-content-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quote-avatar .slick-initialized .slick-slide {
        display: flex;
        outline: none;
        padding: 7.8rem;
    }
    .quote-avatar-item-left-arrow {

        margin-left: 0rem;
    }
    .blog-list {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .blog-item:not(:last-child) {
        margin-right: 3rem;
    }
    .blog-item {
        width: 100%;
        margin-left: 2rem;
    }
    .footer{
        display: block;
    }
    .footer-contact {
        text-align: center;
        width: 100%; 
         margin-right: 0rem; 
         margin-bottom: 5rem;
    }
    .footer-label {
        left: 50%;
        transform: translateX(10%);
    }
    .footer-blog {
        display: flex;
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer-blog-list {
        display: block;
        width: calc(33.33% );
        // margin-left: 2rem;
        
    }
    .footer-blog-text {
        font-size: 13px;
    }
    .footer-blog-date {
        margin-top: 5px;
    }
    .footer-img1{
        width: 100%;
        object-fit: cover;
    }
    .footer-blog-content {
         margin-left: 0; 
        text-align: left;
    }
    .footer-blog-list:not(:first-child){
        margin-left: 2rem;
    }
    .footer-ins {
        text-align: left;
         margin-left: 0; 
        width: 100%;
    }
    .img-ins{
        width: 33%;
        object-fit: cover;
    }
}

@media screen and (min-width:1024px) {
    .header-menu-item:not(:first-child){
        margin-left: 6rem;
    } 
    .about-list {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .work-feature {
        flex-wrap: wrap;
    }
    .work-column {
        width: 25%;
    }
    .work-img{
        width: 100%;
    }
    .meetout-list {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .meetout-logos{
        width:100%;
    }
    .quote .slick-list {
        height: 280px;
    }
    .blog-list{
        margin: 10rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .footer-label {
        transition: all 0.3s linear;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 209px;
        font-size: 14px;
        line-height: 0.7;
        font-weight: bold;
        text-transform: uppercase;
        padding: 16px 28px;
    }
    .footer-input {
        width: 378px;
    }
}
@media screen and (max-width:767px) {
    .header {

        min-height: 500px;
    }
    .header-content {
        padding-top: 4rem;
    }
    .header-content-caption {
        font-size: 2.2rem;
    }
    .header-content-main {
        padding-bottom: 3rem;
        font-size: 4rem;
    }
    .header-bottom-menu::after {
        width: 3rem;

    }
    .header-content-more {
        font-size: 1rem;
        margin-top: 3rem;
        padding: 9px 18px;
    }
    .header-bottom {
        margin-top: 3rem;
    }
    .header-bottom-text{
        display: none;
    }
    .header-bottom-number {
        font-size: 2rem;
    }
    .header-bottom-menu{
        padding: 1rem 0;
        text-align: center;
    }
    .header-toggle{
        display: block;
        color: white;
        font-size: 2rem;
    }
    .header-menu {
        position: fixed;
        padding-bottom: 3rem;
        top: 0;
        right: 0;
        padding-top:3rem ;
        z-index: 10;
        background-color: white;
        width: 300px;
        height: 100%;
        display: block;
        color: black;
        transition: all 0.3s ease;
        transform: translateX(100%);
        &-link{
            font-size: 1.3rem;
            color: black;
            &:hover{
                border-bottom: 4px solid $secondary-color;
            }
        }
        &-item{
            padding-bottom: 3rem;
        }
       
    }
    .header-menu.is-expend{
        transform: translateX(0);
    }
    .about {
        padding-top: 4rem;
    }
    .about-content-main {
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    .about-content-desc {
        margin-top: 2.7rem;
        font-size: 1.4rem;
    }
    .about-list {
        grid-column-gap: 2rem;
    }
    .counting-list {
        display: block;
        height: auto;
    }
    .counting {
        margin-bottom: 7rem;
    }
    .counting-item:not(:last-child) {
        border-bottom: 1px solid #b5eae0;
    }
    .counting-item:not(:last-child) {
         border-right: none;
    }
    .service .service-top, .service .service-bottom {
        display: block;
    }
    .service .service-icon {

        font-size: 2.5rem;
    }
    .service .service-text-name {
        font-size: 1.2rem;
    }
    .service .service-text-desc {
        font-size: 1.2rem;
    }
    .service .service-item:not(:first-child) {
        margin-left: 0;
    }
    .service .service-item {
        
        width: 100%;
    }
    .service-content-main {

        font-size: 2rem;
    }
    .service .service-item:not(:last-child) {
        margin-bottom: 3rem;
    }
    .service .service-icon{
        width: 10%;
    }
    .service .service-text{
        display: grid;
        width: 90%;
    }
    .unique {
        width: 100%;
        min-height: 55rem;
        margin-bottom: 0rem;
    }
    .unique-content {
        padding-top: 5rem;
    }
    .unique-logo-desc-img{
        width: 300px;
        height: 300px;
    }
    .unique-logo-desc {
        
        top: 53%;
        left: 50%;
        transform: translateX(-38%);
    }
    .wedo {
        margin-bottom: 5rem;
    }
    .wedo-content-desc, .about-content-desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .wedo-box {
        display: block;
    }
    .wedo-image, .wedo-box-content {
        width: 100%;
    }
    .wedo-content-main {
        font-size: 2rem;
    }
    .wedo-content-desc {
        font-size: 1.3rem;
    }
    .wedo-item-title {
        font-size: 12px;
    }
    .wedo-item-text {
        font-size: 1.2rem;
    }
    .wedo-box-content {
        margin-top: 2rem;
        margin-left: 0; 
    }
    .quote-content-text{
        font-size:1.2rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quote {
        margin-bottom: 5rem;
    }
    .quote .slick-list {
        height: 250px;
    }
    .quote .slick-initialized .slick-slide {
        display: block;
        outline: none;
        padding: 0;
    }
    .slick-slider {
        position: relative;
        display: block;
        height: 400px;
    }
    .slick-slide{
        height: 400px;
    }
    .slick-slide img {
        margin-bottom: 1rem;  
    }
    .meetout-list {
        margin: 5rem 0;
        display: grid;
        grid-template-columns: unset;
        grid-column-gap: 3rem;
        grid-auto-flow: column;
        grid-row-gap: 2.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .meetout-content-main {
        font-size: 2rem;
    }
    .meetout-content-desc {
        margin-top: 3.7rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quote-box {
        display: block;
        padding-top: 0.8rem;
        align-items: stretch;
        text-align: center;
    }
    .quote-image {
        // margin-top: 1.5rem;
        margin-left: 0;
    }
    .quote-content{
        width: 100%;
        margin-left: 0;
    }
    .quote-content-author::before {
        content: " ";
        position: absolute;
        height: 0.3rem;
        width: 5rem;
        left: 110px;
        top: 57%;
    }
    .quote-item-left-arrow,
    .quote-item-right-arrow{
        display: none;
    }
    .meetout {
        margin-bottom: 8rem;
    }
    .meetout-brand {
        margin-top: 0; 
        background-color: #f7f5f5;
        height: 15rem;
    }
    .meetout-logos{
        width: 100%;
        height: 41.146px;
    }
    .work-img {
        width: 100%;
        height: 100%;
    }
    .work-content-main {

        font-size: 2rem;
    }
    .work-content-desc {
        font-size: 1.5rem;
        margin-top: 2.7rem;
    }
    .work-column {
        width: 100%;
    }
    .work-feature {
        margin-top: 5rem;
    }
    .quote-avatar-content-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quote-avatar-box {
        display: block;
        margin-bottom: 4rem;
        padding-top: 5rem;
    }
    .quote-avatar-image {
        padding: 2rem;
        margin-left: 0;
    }
    .quote-avatar-content {
         width: auto; 
         margin-left: 0; 
    }
    .quote-avatar-content-author::before {
        left: 80px;
        top: 57%;
        width: 4rem;
        
    }
    .quote-avatar-item-left-arrow,
    .quote-avatar-item-right-arrow {
        display: none;
        margin-left: 0rem;
    }
    .quote-avatar-content-author {
        padding-left: 0; 
        justify-content: center;
    }
    .quote-avatar .slick-initialized .slick-slide {
        display: block;
        padding:0;
    }
    .quote-avatar .slick-list {
        height: 450px;
    }

    .people-content-main {
        font-size: 2rem;
    }
    .people-bottom {
        margin-top: 5rem;
 
        display: block;
    
    }
    .people-list {
         width: 100%; 
        display: flex;
        margin-bottom: 4rem;
        margin-right: 0rem;
        margin-left: 0; 
    }
    .people-job {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;

    }
    .people-text {
        font-size: 1.1rem;
    }
    .blog-content-main {
        font-size: 2rem;
    }
    .blog-day {
        font-size: 20px;
    }
    .blog-desc {
        font-size: 13px;
    }
    .blog-text {
        font-size: 12px;
    }
    .blog-icon {
        font-size: 1.5rem;
        margin-right: 0;
    }
    .blog-eye-num{
        margin-right:1rem;
    }
    .blog-eye-num,
    .blog-mess-num {
        font-size: 13px;
    }
    .footer-content {
        font-size: 12px;
    }
    .footer-blog {
        display: block;
        width: 100%;
        padding:0 1.5rem;
    }
    .footer-blog-list {
        display: block;
        width: 100%;
    }
    .footer-input {
        width: 310px;

    }
    .footer-label {
        left: 47%;
        top: 0;
        line-height: 0.8;
        padding: 15px 21px;
    }
    .footer-blog-list:not(:first-child) {
        margin-left: 0;
    }
    .footer-ins{
        margin-left: 0px;
        width: auto;
        padding:0 1.5rem;
    }
    .img-ins {
        width: calc(43% + 2rem);
        object-fit: cover;
    }
}
@media screen and (max-width:319px) {
    .header-menu {
        width: 122px;
    }
    .header-bottom-menu::after {
        width: 1.5rem;
    }
    .about-list{
        display: block;
        overflow: hidden;
        margin-bottom: 10rem;
    }
    .about-image{
        width: 100%;
    }
    .about-item{
        margin-bottom: 2rem;
    }
    .counting{
        margin-top: 27rem;
    }
    .meetout-list{
        overflow: hidden;
        display: block;
    }
    .meetout-item{
        padding: 1.5rem;
    }
    .meetout-item-icon {
        font-size: 2rem;
        padding: 1rem;
    }
    .meetout-authour {
        margin-top: 1rem;
    }
    .meetout-authour-name {
        font-size: 1.2rem;
    }
    .meetout-authour-job {
        margin-top: 1rem;
    }
    .meetout-img{
        width: 100%;
    }
    .unique-logo-desc-img {
        width: 200px;
        height: 198px;
    }
    .unique-logo-desc {
        top: 69%;
        left: 50%;
        transform: translateX(-41%);
    }
    .quote-content-author::before {
        content: " ";
        position: absolute;
        height: 0.3rem;
        width: 4rem;
        left: 69px;
    }
    .quote-avatar-content-author::before {
        left: 46px;
        top: 57%;
    }
    .quote-avatar-content-author::before {
        left: 46px;
        top: 57%;
        width: 4rem;
    }
    .quote-avatar-content-author {
        font-size: 2rem;
    }
    .people-bottom {
        margin-top: 3rem;
    }
    .footer-input {
        width: 200px;
        height: 30px;
    }
    .footer-label {
        font-size: 9px;
        padding: 12px 17px;
    }
    .blog-list {
        padding: 1.5rem;
        display: block;
        overflow: hidden;
        scroll-snap-type: none;
    }
    .blog-item{
        margin: 0;
    }
    .blog-img{
        width: 100%;   
    }
    .img-ins {
        width: calc(50% - 2rem);
        object-fit: cover;
    }
}




    